; ------------------------------------------------------
;
;  [ Theme   ] : Monolith
;  [ Author  ] : Andrew Fricke (uhnomoli)
;  [ Website ] : https://uhnomoli.com/
;  [ Source  ] : https://github.com/uhnomoli/Monolith-LS
;
; ------------------------------------------------------

; ------------
;  [ Colors ]
; ------------

mnBlue					00BDFF
mnLightBlue				9BCEE0


; -----------
;  [ Popup ]
; -----------

mnPopupColor			$mnLightBlue$


; -------------
;  [ Taskbar ]
; -------------

mnTaskbarColor			$mnLightBlue$
mnTaskbarColorFlashing	DDF3FB


; ------------
;  [ Labels ]
; ------------

mnLabelColor			$mnLightBlue$


; -----------
;  [ Clock ]
; -----------

mnClock24		"[time('i')]<font color=#$mnBlue$>:</font>[time('nn')] [time('AM/PM')] <font color=#$mnBlue$>[[</font> [upperCase(time('ddd'))]<font color=#$mnBlue$>,</font> [time('d')] [upperCase(time('mmm'))] <font color=#$mnBlue$>]]</font>"
mnClock12		"[time('h')]<font color=#$mnBlue$>:</font>[time('nn')] [time('AM/PM')] <font color=#$mnBlue$>[[</font> [upperCase(time('ddd'))]<font color=#$mnBlue$>,</font> [time('d')] [upperCase(time('mmm'))] <font color=#$mnBlue$>]]</font>"

mnClockFormat	$mnClock12$


; -------------
;  [ Weather ]
; -------------

mnWeatherC	http://weather.yahooapis.com/forecastrss?w=$mnWeatherWOEID$&u=c
mnWeatherF	http://weather.yahooapis.com/forecastrss?w=$mnWeatherWOEID$

; NOTE: To find your WOEID, visit: http://weather.yahoo.com/
;
;       Enter your city or zip code.
;
;       You should be taken to a link like such:
;       http://weather.yahoo.com/<country>/<state>/<city>-<woeid>/
;
;       Simply grab the WOEID and enter it below.

mnWeatherWOEID	12759100
mnWeatherURL	$mnWeatherF$
